body {
}
a {
    
    color: #3fb0ac;
}
    a:hover {
        color: #173e43;
    }
.bg-dark {
    background-color: #173e43 !important;
    bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #ccc;
}
.btn-outline-success:hover {
    background-color: #3fb0ac;
    color: #173e43;
    border-color: #3fb0ac;
}
.btn-outline-success {
    /*background-color: #173e43;*/
    color: #3fb0ac;
    border-color: #3fb0ac;
}

.btn-outline-warning:hover {
    background-color: #173e43;
    color: #3fb0ac;
    border-color: #173e43;
}
.btn-outline-warning {
    /*background-color: #173e43;*/
    color: #173e43;
    border-color: #173e43;
}

