@{
    /**/

    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="row">
  
        <div id="leftpanel" class="col-sm-8">
            <hr />
            @RenderBody()
        </div>

        <div class="col-sm-2" >
            <hr />
            <h4 style="font-family:Playfair Display"></h4>
            <div class="card" style="float:right;">
                <img class="card-img-top" src="~/Content/Images/person.jpg" alt="">
                <hr />
                <div class="card-body">

                    <p style="font-style:italic;font-family:Playfair Display" class="card-text">Merhaba,Ben Emre.</p><br /><p style="font-family:Playfair Display "> Burada yazılım,teknoloji ve hobilerim hakımda paylaşımlarımı bulabilirsiniz.</p>
                    <div style="text-align:center"> <a style="font-family:Playfair Display" href="/About/AboutPage" class="btn btn-outline-success my-2 my-sm-0 nav_brand">Devamı</a>  </div>
                </div>
            </div>

        </div>







</div>








