

.social-buttons a {
    display: inline-flex;
    text-decoration: none;
    
    -size: 18px;
    width: 60px;
    height: 60px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 1px;
}

    

    .social-buttons a:hover::before {
        transform: scale(0);
    }

    .social-buttons a i {
        transition: 0.3s ease-in;
    }

    .social-buttons a:hover i {
        background: linear-gradient(45deg,#173e43,#3fb0ac);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(2.2);
    }

.body {
    overflow-x: hidden !important;
}
